@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --card: #ffffff;
  --primary: #4f46e5; /* Indigo 600 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif; /* Modern sans-serif */
}